body {
    background-image: url("https://images.unsplash.com/photo-1544306094-e2dcf9479da3");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding-bottom: 200px;
    font-family: 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.9);
}

.round-border {
    border: none;
    border-radius: 10px;
}

.blur {
    backdrop-filter: saturate(170%) blur(7px);
}

.site-wrapper {
    margin-top: 100px;
}

.container {
    width: 80%;
    max-width: 1500px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-image {
    float: none;
    font-size: 1.3em;
    padding: 10px 15px 8px 15px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.45),
        inset 0 2px 5px rgba(255, 255, 255, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: .2s;
    color: rgba(0, 0, 0, 0.9);
}

.add-image:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.add-image:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

#disabled-btn {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 4px rgba(123, 123, 123, 0.1),
        inset 0 2px 4px rgba(255, 255, 255, 0.1);
    cursor: default;
    backdrop-filter: saturate(70%) blur(5px);
    color: rgba(0, 0, 0, 0.6);
}

#disabled-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.counter {
    font-size: 1.3em;
    margin-left: 15px;
    padding: 10px 15px 8px 15px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.45),
    inset 0 2px 5px rgba(255, 255, 255, 0.45);
    cursor: default;
    transition: .1s;
}

#full-counter {
    color: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(70%) blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 4px rgba(123, 123, 123, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.1);
}

select{
    margin-top: 30px;
    font-size: 1.2em;
    padding: 10px 14px;
    background-color: rgba(255, 255, 255, 0.83);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.45),
        inset 0 2px 5px rgba(255, 255, 255, 0.45);
    border: none;
    cursor: pointer;
}

select:focus {
    outline: none;
}

#gallery {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.image-wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.3),
        inset 2px 2px 3px rgba(228, 228, 228, 0.4);
    border-radius: 15px;
    padding: 15px;
    flex: none;
    cursor: default;
    transition: .3s;
}

.image-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.image-wrapper > img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-wrapper {
    margin-top: 10px;
    padding: 5px;
    text-align: left;
}

.top-padding {
    padding-top: 10px;
}

.delete-btn {
    float: right;
    font-size: 1.2em;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 13px 8px 13px;
    box-shadow: 0 3px 7px rgba(123, 123, 123, 0.2),
        inset 1px 2px 4px rgba(255, 255, 255, 0.3);
    transition: .3s;
}

.image-wrapper:hover > button {
    background-color: rgba(221, 10, 10, 0.7);
    color: white;
}

button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

#footer {
    width: 100vw;
    height: 12vh;
    background: linear-gradient(to top, rgb(76, 164, 168), rgba(76, 164, 168, 0.6), rgba(0, 0, 0, 0));
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#modal-alert {
    color: rgba(0, 0, 0, 0.9);
}
